@font-face {
  font-family: Geometria;
  src: url("../fonts/Geometria.woff");
  font-weight: 400;
}

@font-face {
  font-family: Geometria;
  src: url("../fonts/Geometria-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: Mont;
  src: url("../fonts/MONT-HEAVYDEMO.OTF");
  font-weight: 900;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #ffffff;
  font-family: Geometria, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

.f-social {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 40;
  a {
    display: inline-block;
    margin: 4px 0;
    img,
    svg {
      display: block;
      max-height: 70px;
      max-height: 70px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.f-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  background: #ffffff;
  z-index: 49;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: static;
  }
  &__mob {
    display: none;
  }
  &__logo {
    display: inline-block;
    img,
    svg {
      display: block;
      max-width: 115px;
      max-height: 80px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: static;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      &:hover {
        & > a {
          border-color: #791f09 !important;
        }
        & > .f-nav {
          display: block;
        }
      }
      & > a {
        display: inline-block;
        position: relative;
        margin: 0 15px;
        padding: 36px 0;
        border-bottom: 3px solid transparent;
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #1a1918;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #1a1918;
          border-color: #791f09;
          text-decoration: none;
        }
      }
    }
  }
  &__phone {
    display: inline-block;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #1a1918;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #791f09;
      text-decoration: none;
    }
  }
  &__link {
    display: inline-block;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #791f09;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #791f09;
      text-decoration: none;
    }
  }
}

.f-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 25px 0;
  background: #791f09;
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin: 0;
        padding: 4px 25px;
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 0.8;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__title {
    display: block;
    margin: 0 0 7px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
  }
  &__subtitle {
    display: block;
    margin: 0 0 5px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
  &__link {
    display: block;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

#videoBg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.f-home-top {
  display: block;
  position: relative;
  width: 100%;
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 98px);
    padding: 40px 0;
    z-index: 3;
  }
  &__title {
    display: block;
    margin: 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 102px;
    color: #ffffff;
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 60px 0 0 0;
    padding: 22px 124px 22px 34px;
    background: url("../images/icon_button_eye_form.png") no-repeat;
    background-size: 100% 100%;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    /* &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      right: -100px;
      width: 100px;
      height: 100%;
      background: url("../images/icon_button_eye_form.png") no-repeat right center;
      background-size: contain;
    } */
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: brightness(1.3);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.letterTransparent {
  path {
    fill: none !important;
  }
}

.f-home-what {
  display: block;
  position: relative;
  width: 100%;
  padding: 140px 0 0 0;
  & > .container > img,
  svg {
    transition: all 0.1s linear;
  }
  &__title {
    display: block;
    margin: 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    color: #1a1918;
  }
  &__text {
    display: block;
    margin: 28px 0 0 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 156px;
    height: 156px;
    margin: 315px 0 0 0;
    border-radius: 999rem;
    box-shadow: 10px 10px 0 0px #1a1918;
    background: #791f09;
    &-text {
      position: absolute;
      top: 11px;
      left: 11px;
      animation: spin 10s linear infinite;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #a8442b;
      text-decoration: none;
    }
  }
  svg {
    overflow: visible !important;
  }
  &__1 {
    display: block;
    position: absolute;
    top: 285px;
    left: 425px;
    pointer-events: none;
    z-index: 2;
  }
  &__2 {
    display: block;
    position: absolute;
    top: 285px;
    left: 490px;
    pointer-events: none;
    z-index: 2;
  }
  &__3 {
    display: block;
    position: absolute;
    top: 423px;
    left: 846px;
    pointer-events: none;
    z-index: 2;
  }
  &__4 {
    display: block;
    position: absolute;
    top: 498px;
    left: 766px;
    pointer-events: none;
    z-index: 2;
  }
  &__5 {
    display: block;
    position: absolute;
    top: 585px;
    left: 460px;
    pointer-events: none;
    z-index: 2;
  }
  &__6 {
    display: block;
    position: absolute;
    top: 600px;
    left: 585px;
    pointer-events: none;
    z-index: 2;
  }
  &__7 {
    display: block;
    position: absolute;
    top: 600px;
    left: 695px;
    pointer-events: none;
    z-index: 2;
  }
  &__8 {
    display: block;
    position: absolute;
    top: 600px;
    left: 785px;
    pointer-events: none;
    z-index: 2;
  }
  &__9 {
    display: block;
    position: absolute;
    top: 600px;
    left: 875px;
    pointer-events: none;
    z-index: 2;
  }
  &__10 {
    display: block;
    position: absolute;
    top: 600px;
    left: 980px;
    pointer-events: none;
    z-index: 2;
  }
  &__11 {
    display: block;
    position: absolute;
    top: 600px;
    left: 1070px;
    pointer-events: none;
    z-index: 2;
  }
  &__12 {
    display: block;
    position: absolute;
    top: 10px;
    left: 680px;
    width: 158px;
    height: 135px;
    pointer-events: none;
    z-index: 0;
  }
  &__13 {
    display: block;
    position: absolute;
    top: 420px;
    left: 185px;
    width: 163px;
    height: 177px;
    pointer-events: none;
    z-index: 0;
  }
  &__14 {
    display: block;
    position: absolute;
    top: 660px;
    left: 310px;
    width: 113px;
    height: 99px;
    pointer-events: none;
    z-index: 0;
  }
  &__circle {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 249px;
    height: 249px;
    top: 220px;
    right: 150px;
    border: 1px solid #1a1918;
    border-radius: 999rem;
    z-index: 1;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #1a1918;
    img,
    svg {
      display: block;
      max-width: 28px;
      max-height: 28px;
      margin: 0 auto 20px auto;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #1a1918;
      text-decoration: none;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.f-home-wrap {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/home_wrap_big_bg.png") no-repeat center top -530px;
}

.f-home-rent {
  display: block;
  position: relative;
  padding: 160px 0 120px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 90px 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    color: #1a1918;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 0 60px 0;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 570px;
      background-size: cover;
      background-position: center center;
      z-index: 1;
    }
    &__title {
      display: block;
      margin: 20px 0 10px 0;
      font-family: Geometria;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #1a1918;
    }
    &__text {
      display: block;
      margin: 0;
      font-family: Geometria;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #1a1918;
    }
    &__link {
      display: block;
      margin: 5px 0 0 0;
      font-family: Geometria;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color: #791f09;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #791f09;
        text-decoration: none;
      }
    }
    &__number {
      display: block;
      position: absolute;
      top: -90px;
      right: 70px;
      font-family: Mont;
      font-style: normal;
      font-weight: 900;
      font-size: 120px;
      line-height: 153px;
      color: #791f09;
      z-index: 0;
    }
    &_1 {
      max-width: 400px;
      margin-left: 160px;
      .f-home-rent-card__image {
        height: 400px;
      }
    }
    &_2 {
      .f-home-rent-card__number {
        right: -40px;
        top: -90px;
      }
    }
    &_3 {
      max-width: 400px;
      margin-left: 70px;
      .f-home-rent-card__image {
        height: 380px;
      }
      .f-home-rent-card__number {
        right: 380px;
        top: 220px;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 100px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #1a1918;
    &-arrow {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 65px;
      margin-left: 22px;
      border-radius: 999rem;
      box-shadow: 5px 5px 0 0 #1a1918;
      background: #791f09;
      transition: all 0.2s ease-out;
      img,
      svg {
        max-width: 25px;
        max-height: 8px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .f-home-rent__link-arrow {
        background: #a8442b;
      }
      color: #1a1918;
      text-decoration: none;
    }
  }
}

.f-home-features {
  display: block;
  position: relative;
  padding: 0 0 250px 0;
  background: url("../images/home_big_wrap_2.png") no-repeat center top;
  background-size: 100% auto;
  &__big {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: center center;
    &_wrap {
      display: block;
      position: relative;
      width: 100%;
      height: 350px;
      box-shadow: 20px 20px 0 0 #1a1918;
    }
  }
  &__title {
    display: block;
    margin: 70px 0 0 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    color: #1a1918;
  }
  &__text {
    display: block;
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: 3;
    animation: spin 10s linear infinite;
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 100px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #1a1918;
    &-arrow {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 65px;
      margin-left: 22px;
      border-radius: 999rem;
      box-shadow: 5px 5px 0 0 #1a1918;
      background: #791f09;
      transition: all 0.2s ease-out;
      img,
      svg {
        max-width: 36px;
        max-height: 36px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .f-home-features__link-arrow {
        background: #a8442b;
      }
      color: #1a1918;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    height: 720px;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 999rem;
    box-shadow: 10px 10px 0 0 #791f09;
    background: #ffffff;
    text-align: center;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #1a1918;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin-bottom: 10px;
    }
    &_1 {
      top: 98px;
      left: 0px;
      width: 205px;
      height: 205px;
    }
    &_2 {
      top: 55px;
      left: 205px;
      width: 286px;
      height: 286px;
    }
    &_3 {
      top: 180px;
      left: 468px;
      width: 260px;
      height: 260px;
    }
    &_4 {
      top: -68px;
      right: 0px;
      width: 472px;
      height: 472px;
    }
    &_5 {
      top: 292px;
      left: 0px;
      width: 360px;
      height: 360px;
    }
    &_6 {
      top: 398px;
      left: 360px;
      width: 213px;
      height: 213px;
    }
    &_7 {
      top: 373px;
      right: 213px;
      width: 340px;
      height: 340px;
    }
  }
}

.f-home-gallery {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: -120px 0 0 0;
  padding-bottom: 10px;
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    .swiper-slide {
      width: auto;
      &:nth-child(2n) {
        .f-home-gallery-card {
          width: 150px;
          height: 150px;
          transform: scale(1.7);
          z-index: 2;
        }
      }
    }
  }
  .swiper-wrapper {
    display: flex;
    align-items: center;
    transition: all 20s linear !important;
  }
  &-card {
    display: inline-block;
    position: relative;
    width: 380px;
    height: 380px;
    background-position: center center;
    background-size: cover;
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    margin: 30px 0 0 740px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #1a1918;
    &-arrow {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 65px;
      margin-left: 22px;
      border-radius: 999rem;
      box-shadow: 5px 5px 0 0 #1a1918;
      background: #791f09;
      transition: all 0.2s ease-out;
      img,
      svg {
        max-width: 36px;
        max-height: 36px;
        filter: brightness(0) invert(1);
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .f-home-gallery__link-arrow {
        background: #a8442b;
      }
      color: #1a1918;
      text-decoration: none;
    }
  }
}

.f-home-overview {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 150px 0;
  background: url("../images/overview_bg.png") no-repeat left calc(50vw - 730px) top 20px;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    color: #1a1918;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 100%;
      left: 5%;
      width: 90%;
      height: 18px;
      background: #791f09;
    }
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 500px;
      background: rgba(26, 25, 24, 0.5);
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
    &__text {
      display: block;
      position: absolute;
      top: 173px;
      left: 408px;
      z-index: 3;
      animation: spin 10s linear infinite;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .f-home-overview-card__content {
        background: rgba(26, 25, 24, 0.75);
      }
      text-decoration: none;
    }
  }
}

.f-home-clients {
  display: block;
  position: relative;
  padding: 100px 0;
  background: #1a1918;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 70px;
  }
  &__title {
    display: inline-block;
    position: relative;
    margin: 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    color: #ffffff;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: -45px;
      left: -50px;
      width: 350px;
      height: 164px;
      background: url("../images/home_title_bg.png") no-repeat center center;
      background-size: contain;
      pointer-events: none;
    }
  }
  &__link {
    display: inline-block;
    margin: 20px 75px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    opacity: 0.5;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    outline: none;
    margin-right: -15px;
    border: 1px solid #ffffff;
    border-radius: 999rem;
    background: transparent;
    img,
    svg {
      display: block;
      max-height: 25px;
      max-height: 25px;
      transform: translateY(4px);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
      text-decoration: none;
      z-index: 2;
    }
  }
  &__next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 999rem;
    background: transparent;
    img,
    svg {
      display: block;
      max-height: 25px;
      max-height: 25px;
      transform: translateY(-4px);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
      text-decoration: none;
      z-index: 2;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 10px);
    .swiper-slide {
      width: auto;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 170px;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 170px;
      background-size: cover;
      background-position: center center;
      transform-style: preserve-3d;
      &:after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 10px;
        left: 10px;
        border: 1px solid #ffffff;
        transform: translateZ(-1px);
      }
    }
    &__title {
      display: block;
      margin: 24px 0 0 0;
      font-family: Geometria;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color: #ffffff;
    }
  }
}

.f-home-order {
  display: block;
  position: relative;
  padding: 160px 0 100px 0;
  background: #bcbcbc url("../images/home_order_bg.png") no-repeat center top -100px;
  &__title {
    display: block;
    margin: 0 0 30px 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    color: #1a1918;
  }
  &__subtitle {
    display: block;
    margin: 0 0 38px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #1a1918;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__info {
    display: block;
    margin: 0 0 20px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1a1918;
  }
  input {
    display: block;
    width: 100%;
    max-width: 370px;
    margin: 0 0 26px 0;
    padding: 11px 18px;
    background: #ffffff;
    border: 1px solid #1a1918;
    box-shadow: 5px 5px 0 0 #1a1918;
    outline: none;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #1a1918;
  }
  ::placeholder {
    color: #1a1918;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 156px;
    height: 156px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    box-shadow: 10px 10px 0 0px #1a1918;
    background: #791f09;
    &-text {
      position: absolute;
      top: 10px;
      left: 10px;
      animation: spin 10s linear infinite;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #a8442b;
      text-decoration: none;
    }
  }
}

.f-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 105px 0 35px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin: 0 0 18px 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    color: #1a1918;
  }
  &__content {
    display: block;
    position: relative;
    max-height: 76px;
    overflow: hidden;
    &_active {
      max-height: 100%;
    }
    p {
      font-family: Geometria;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #1a1918;
    }
  }
  &__link {
    display: block;
    margin: 10px 0 0 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #791f09;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #791f09;
      text-decoration: none;
    }
  }
}

.f-bottom {
  display: block;
  position: relative;
  padding: 65px 0 140px 0;
  background: url("../images/bottom_bg.jpg") no-repeat top center;
  background-size: 100% auto;
  &__title {
    display: block;
    margin: 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    color: #1a1918;
  }
}

.f-footer {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -100px;
  padding: 0 0 80px 0;
  background: url("../images/footer_bg.png") no-repeat center top;
  background-size: 100% 100%;
  &__map {
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto 20px auto;
    box-shadow: 20px 20px 0 0 #791f09;
    z-index: 4;
  }
  &__subtitle {
    display: block;
    margin: 30px 0 10px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
  &__info {
    display: block;
    margin: 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    a {
      display: block;
      margin-bottom: 16px;
      color: #ffffff;
      line-height: 30px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__hr {
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    margin: 80px 0 115px 0;
    background: #ffffff;
  }
  &__logo {
    display: block;
    img,
    svg {
      display: block;
      max-width: 250px;
      max-height: 250px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__date {
    display: block;
    margin: 70px 0 0 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
  &__nav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 2.15;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 0.8;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &-link {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0 20px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    &__image {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 30px;
      height: 20px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.f-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #ffffff url("../images/modal_bg.png") no-repeat center center;
    background-size: cover;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    margin: 30px 0;
  }
  input {
    display: block;
    width: 100%;
    max-width: 370px;
    margin: 0 0 26px 0;
    padding: 11px 18px;
    background: #ffffff;
    border: 1px solid #1a1918;
    box-shadow: 5px 5px 0 0 #1a1918;
    outline: none;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #1a1918;
  }
  ::placeholder {
    color: #1a1918;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    color: #1a1918;
  }
}

.f-page {
  display: block;
  position: relative;
  padding: 0 0 100px 0;
  border-top: 1px solid #1a1918;
  background: url("../images/page_top_bg.jpg") no-repeat center top;
  background-size: 100% auto;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 40px 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 102px;
    color: #1a1918;
  }
  &__load {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 45px 0 0 0;
    border-top: 1px solid #1a1918;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #1a1918;
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 65px;
      margin-left: 20px;
      border-radius: 999rem;
      box-shadow: 5px 5px 0 0 #1a1918;
      background: #791f09;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 30px;
        max-height: 30px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .f-page__load-icon {
        background: #a8442b;
        img,
        svg {
          transform: scale(0.9);
        }
      }
      color: #1a1918;
      text-decoration: none;
    }
  }
}

.f-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 12px 0;
  list-style: none;
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #1a1918;
  li {
    display: inline-block;
    a {
      color: #1a1918;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #791f09;
        text-decoration: none;
      }
    }
  }
}

.f-catalog {
  display: block;
  position: relative;
  width: 100%;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-height: 370px;
    margin: 0 0 60px 0;
    &__image {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      position: relative;
      width: 100%;
      height: 275px;
      padding: 10px;
      background-color: #000000;
      background-position: center center;
      background-size: 100% auto;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      margin: 20px 0 0 0;
      font-family: Geometria;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #1a1918;
    }
    &__info {
      display: inline-block;
      padding: 5px 30px 5px 20px;
      background: #791f09;
      font-family: Geometria;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
      text-align: center;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .f-catalog-card__title {
        color: #791f09;
      }
      .f-catalog-card__image {
        background-size: 110% auto;
      }
      text-decoration: none;
    }
  }
}

.f-card {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/card_bg.png") no-repeat left calc(50vw - 645px) bottom;
  &__price {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    display: inline-block;
    position: relative;
    margin: -30px 0 0 0;
    padding: 13px 46px 13px 30px;
    background: #791f09;
    text-align: center;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 50px 0 0 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1a1918;
  }
  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 60px 0 0 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #1a1918;
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 65px;
      margin-left: 20px;
      border-radius: 999rem;
      box-shadow: 5px 5px 0 0 #1a1918;
      background: #791f09;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 30px;
        max-height: 30px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .f-card__link-icon {
        background: #a8442b;
        img,
        svg {
          transform: scale(0.9);
        }
      }
      color: #1a1918;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: -30px auto 0 auto;
  }
  &-card {
    display: block;
    width: 100%;
    height: 480px;
    background-size: cover;
    background-position: center center;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: -20px auto 50px auto;
    z-index: 3;
  }
  &__prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 77px;
    height: 77px;
    outline: none;
    margin: 0;
    background: #1a1918;
    border-radius: 999rem;
    img,
    svg {
      display: block;
      max-height: 25px;
      max-height: 25px;
      transform: translateY(3px);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
      z-index: 2;
    }
  }
  &__next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 77px;
    height: 77px;
    outline: none;
    margin: 0;
    background: #1a1918;
    border-radius: 999rem;
    img,
    svg {
      display: block;
      max-height: 25px;
      max-height: 25px;
      transform: translateY(-3px);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
      z-index: 2;
    }
  }
  .swiper-pagination {
    position: relative;
    max-width: 240px;
  }
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 9px;
    background: #1a1918;
    opacity: 0.3;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

.f-tabs {
  display: block;
  position: relative;
  width: 100%;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 3;
    li {
      display: inline-block;
      font-family: Mont;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 38px;
      color: #791f09;
      filter: grayscale(1);
      opacity: 0.3;
      &:first-child {
        padding: 35px 40px 17px 30px;
        background: url("../images/tab_bg_1.png") no-repeat 0 0;
        background-size: 100% auto;
      }
      &:nth-child(2) {
        margin-left: 20px;
        padding: 24px 40px 16px 26px;
        background: url("../images/tab_bg_2.png") no-repeat 0 0;
        background-size: 100% auto;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
      &.current {
        opacity: 1;
        filter: none;
      }
    }
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    margin: -2px 0 0 0;
    padding: 80px 70px;
    border: 2px solid #791f09;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1a1918;
    b,
    strong {
      font-weight: 500;
    }
    &.current {
      display: block;
    }
  }
}

.f-article {
  display: block;
  position: relative;
  width: 100%;
  &-welcome {
    display: block;
    position: relative;
    width: 100%;
    min-height: 790px;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #1a1918;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 20px;
      left: 20px;
      width: 100%;
      height: 500px;
      background: url("../images/article_shadow.png") no-repeat center center;
      background-size: 100% 100%;
      pointer-events: none;
      transform: translateZ(-1px);
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 290px;
      left: -20px;
      width: 1248px;
      height: 499px;
      background: url("../images/article_after.png") no-repeat center center;
      background-size: contain;
      pointer-events: none;
      z-index: -1;
    }
    &__image {
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
      display: block;
      position: relative;
      width: 100%;
      height: 500px;
      margin-bottom: 70px;
      background-position: center center;
      background-size: cover;
      transform-style: preserve-3d;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 10px 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    color: #1a1918;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 10px;
  }
  p {
    display: block;
    margin: 0 0 30px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1a1918;
  }
  ul {
    display: block;
    position: relative;
    margin: 10px 0 24px 0;
    padding: 0 0 0 50px;
    list-style: none;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1a1918;
    li {
      display: block;
      position: relative;
      margin-bottom: 10px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        left: -30px;
        top: 12px;
        background: #791f09;
      }
    }
  }
  img {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  figure {
    display: block;
    margin: 0 0 30px 0;
    img {
      display: block;
      box-shadow: -20px 20px 0 0 #791f09;
    }
  }
  figcaption {
    display: block;
    max-width: 870px;
    margin: 50px auto 0 auto;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #949494;
  }
  blockquote {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 30px auto;
    padding: 80px;
    background: url("../images/quote_bg.png") no-repeat center center;
    background-size: 100% 100%;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1a1918;
  }
  &__block {
    display: block;
    position: relative;
    width: 100%;
    margin: 80px auto auto;
    background: url("../images/article_block_bg.png") no-repeat center right;
    background-size: contain;
    img {
      display: block;
      max-width: 100%;
      margin: -30px auto 0 auto;
      box-shadow: -20px 20px 0 0 #791f09;
    }
    p {
      max-width: 370px;
    }
  }
  &__block_alt {
    display: block;
    position: relative;
    width: 100%;
    margin: 80px auto auto;
    background: url("../images/article_block_bg_alt.png") no-repeat center left;
    background-size: contain;
    img {
      display: block;
      max-width: 100%;
      margin: -30px auto 0 auto;
      box-shadow: 20px 20px 0 0 #791f09;
    }
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      max-width: 370px;
      color: #ffffff;
    }
  }
  .table {
    border: 1px solid #1a1918;
    text-align: center;
  }
  .table tr:first-child {
    td,
    th {
      border: 0;
    }
  }
  .table td,
  .table th {
    padding: 12px 26px;
    border-color: #1a1918;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #1a1918;
  }
  .table td:first-child,
  .table th:first-child {
    text-align: left;
  }
  .table td:last-child,
  .table th:last-child {
    text-align: right;
  }
  .table thead th {
    padding: 12px 26px;
    background: #791f09;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

.f-contacts {
  display: block;
  position: relative;
  width: 100%;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 670px;
    margin: 30px auto;
    transform-style: preserve-3d;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 386px;
      height: 384px;
      top: -50px;
      left: 200px;
      background: url("../images/contacts_before.png") no-repeat center center;
      pointer-events: none;
      transform: translateZ(-1px);
    }
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 270px;
      margin: 0 auto;
      &:after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 15px;
        left: 15px;
        background: #1a1918;
        transform: rotate(1deg);
        pointer-events: none;
        z-index: -1;
      }
    }
    &__info {
      display: block;
      position: relative;
      margin: 0;
      font-family: Geometria;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #1a1918;
      b,
      strong {
        display: block;
        margin-top: 6px;
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 18px;
      }
      a {
        display: block;
        margin-top: 12px;
        color: #1a1918;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #791f09;
          text-decoration: none;
        }
      }
    }
    &_alt {
      .f-contacts-card__image:after {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 95%);
        width: 102%;
        height: 105%;
        top: 10px;
        left: 5px;
        background: #791f09;
      }
      &:after {
        width: 415px;
        height: 423px;
        top: -100px;
        left: 200px;
        background: url("../images/contacts_after.png") no-repeat center center;
      }
    }
  }
}

.f-view {
  display: block;
  position: relative;
  width: 100%;
  min-height: 1390px;
  margin-top: -150px;
  background: url("../images/place_bg_main_alt_vision.png") no-repeat left calc(50vw - 1420px) top;
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: absolute;
    &_1 {
      top: 418px;
      left: 105px;
    }
    &_2 {
      top: 338px;
      left: 590px;
    }
    &_3 {
      top: 433px;
      left: 550px;
    }
    &_4 {
      top: 548px;
      left: 280px;
    }
    &_5 {
      top: 591px;
      left: 565px;
    }
    &_6 {
      top: 728px;
      left: 610px;
    }
    &_7 {
      top: 848px;
      left: 425px;
    }
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 999rem;
      background: #ffffff;
      z-index: 6;
      img,
      svg {
        display: block;
        max-width: 9px;
        max-height: 9px;
        filter: brightness(0);
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    &__info {
      display: none;
      position: absolute;
      top: -30px;
      left: 55px;
      width: 296px;
      padding: 26px 26px 22px 30px;
      box-shadow: 10px 10px 0 0 #1a1918;
      background: #ffffff;
      font-family: Geometria;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #1a1918;
      z-index: 7;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 28px;
        left: -18px;
        width: 0;
        height: 0;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-right: 18px solid #ffffff;
      }
    }
  }
  &__text {
    display: block;
    position: relative;
    margin: 370px 0 0 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #1a1918;
    text-align: center;
    pointer-events: none;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 105%;
      left: 0px;
      width: 128px;
      height: 53px;
      background: url("../images/icon_view_arrow_left.png") no-repeat center center;
      background-size: contain;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 35px 0 650px 0;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #1a1918;
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 65px;
      margin-left: 20px;
      border-radius: 999rem;
      box-shadow: 5px 5px 0 0 #1a1918;
      background: #791f09;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 30px;
        max-height: 30px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .f-view__link-icon {
        background: #a8442b;
        img,
        svg {
          transform: scale(0.9);
        }
      }
      color: #1a1918;
      text-decoration: none;
    }
  }
}

.f-more {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #1a1918;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px;
    filter: brightness(0) invert(1);
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    margin: 30px 0;
  }
  &__title {
    display: block;
    position: relative;
    max-width: 770px;
    margin: 0 0 45px 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    color: #ffffff;
  }
  &__image {
    display: block;
    max-width: 100%;
    box-shadow: 20px 20px 0 0 #791f09;
  }
}

.f-switch {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -150px;
  background: url("../images/gray.png") no-repeat 0 115px;
  background-size: 100% 100%;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 30px 0;
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    color: #ffffff;
  }
  &__header {
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin: 0;
    padding: 90px 70px;
    list-style: none;
    background: #1a1918;
    z-index: 3;
    li {
      display: inline-block;
      position: relative;
      padding: 15px 0;
      font-family: Mont;
      font-style: normal;
      font-weight: 900;
      font-size: 35px;
      line-height: 45px;
      color: #ffffff;
      opacity: 0.5;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
      &.current {
        &:after {
          display: block;
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 260px;
          height: 42px;
          background: url("../images/icon_right_long.png") no-repeat 0 0;
          background-size: contain;
          z-index: 0;
          transition: all 0.2s ease-out;
        }
        opacity: 1;
        filter: none;
      }
    }
  }
  &__content {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 680px;
    margin: 0;
    padding: 70px;
    background: #ffffff;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      right: 100%;
      top: 0;
      width: 30px;
      height: 100%;
      background: #ffffff;
    }
    &-zoom {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 118px;
      min-height: 100px;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      padding: 6px;
      background: rgba(121, 31, 9, 0.9);
      font-family: Geometria;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      text-align: center;
      img,
      svg {
        display: block;
        margin-bottom: 10px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: rgba(121, 31, 9, 1);
        color: #ffffff;
        text-decoration: none;
      }
    }
    b,
    strong {
      font-weight: 500;
    }
    &.current {
      display: flex;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .f-header__nav {
    display: none;
  }
  .f-header__link {
    display: none;
    width: 100%;
    text-align: center;
  }
  .f-header__phone {
    display: none;
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }
  .f-home-what__1,
  .f-home-what__2,
  .f-home-what__3,
  .f-home-what__4,
  .f-home-what__5,
  .f-home-what__6,
  .f-home-what__7,
  .f-home-what__8,
  .f-home-what__9,
  .f-home-what__10,
  .f-home-what__11,
  .f-home-what__12,
  .f-home-what__13,
  .f-home-what__14 {
    display: none;
  }
  .f-home-features-card {
    position: relative;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    top: auto !important;
    width: 300px !important;
    height: 300px !important;
  }
  .f-home-top__title {
    margin: 0;
    font-size: 40px;
    line-height: 1.2;
  }
  .f-home-rent-card {
    margin: 0 auto 30px auto !important;
  }
  .f-header {
    padding: 10px 0;
  }
  .f-header__mob {
    display: block;
    position: absolute;
    top: 26px;
    right: 15px;
    padding: 8px 0 8px 8px;
  }
  .f-header__nav > li:hover > .f-nav {
    display: none;
  }
  .f-header__nav > li > a {
    margin: 0;
    padding: 12px;
  }
  .f-header__nav {
    display: none;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    li {
      display: block;
      width: 100%;
    }
  }
  .f-modal__title {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 1.2;
  }
  .f-home-top__button {
    padding: 22px 34px;
    background: #1a1918;
  }
  .f-home-what {
    padding: 40px 0;
  }
  .f-home-what__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .f-home-what__text {
    margin: 0;
  }
  .f-home-what__circle {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    margin: 0 auto;
  }
  .f-home-what__button {
    margin: 40px auto;
  }
  .f-home-rent {
    padding: 40px 0;
  }
  .f-home-rent-card__image {
    height: 300px !important;
  }
  .f-home-rent__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .f-home-rent-card__number {
    display: none;
  }
  .f-home-rent__link {
    margin: 20px 0;
  }
  .f-home-features__text {
    max-width: 200px;
    max-height: 200px;
  }
  .f-home-features__text {
    top: 50px;
    right: 50px;
  }
  .f-home-overview-card__text {
    display: none !important;
  }
  .f-home-features {
    padding: 40px 0;
  }
  .f-home-features__big {
    height: 350px;
  }
  .f-home-features__title {
    margin: 40px 0 20px 0;
    font-size: 32px;
    line-height: 1.2;
  }
  .f-home-features__cards {
    height: auto;
  }
  .f-home-features-card {
    margin: 0 auto;
  }
  .f-home-gallery {
    margin: 0;
  }
  .f-home-features__link {
    margin-top: 30px;
  }
  .f-home-gallery__link {
    margin: 30px 0 0 0;
  }
  .f-home-overview-card__content {
    height: 350px;
  }
  .f-home-overview {
    padding: 40px 0;
  }
  .f-home-overview__title {
    margin: 0 0 20px 0;
    font-size: 32px;
    line-height: 1.2;
  }
  .f-home-clients {
    padding: 40px 0;
  }
  .f-home-clients__header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .f-home-clients-card {
    margin: 0 auto;
    text-align: center;
  }
  .f-home-order {
    padding: 40px 0;
    &__title {
      margin: 0 0 20px 0;
      font-size: 32px;
      line-height: 1.2;
    }
  }
  .f-home-seo {
    padding: 40px 0;
  }
  .f-bottom {
    padding: 40px 0 20px 0;
    &__title {
      margin: 0 0 20px 0;
      font-size: 32px;
      line-height: 1.2;
    }
  }
  .f-footer {
    padding: 0 0 40px 0;
    background: #1a1918;
  }
  .f-footer__hr {
    margin: 30px 0;
  }
  .f-footer__date {
    margin: 30px 0;
  }
  .f-footer__nav {
    margin-bottom: 40px;
  }
  .f-page__title {
    margin: 0 0 20px 0;
    font-size: 42px;
    line-height: 1.2;
  }
  .f-catalog-card {
    margin-bottom: 30px;
  }
  .f-page {
    padding-bottom: 40px;
  }
  .f-page__load {
    padding-top: 40px;
  }
  .f-card {
    padding: 20px 0;
    background: #d9d9d9;
  }
  .f-card__text {
    margin-top: 30px;
  }
  .f-card__link {
    padding-top: 30px;
  }
  .f-card__cards {
    margin-top: 30px;
  }
  .f-card-card {
    height: 350px;
  }
  .f-card__row {
    margin-bottom: 0;
  }
  .f-tabs__header li {
    width: 100%;
    margin: 0 auto !important;
    padding: 16px !important;
    border: 2px solid #791f09;
    background: #ffffff !important;
    font-size: 24px;
    text-align: center;
  }
  .f-tabs__content {
    padding: 20px;
  }
  .f-article-welcome:after {
    display: none;
  }
  .f-article-welcome__image {
    height: 350px;
    margin-bottom: 30px;
  }
  .f-article-welcome:before {
    height: 350px;
  }
  .f-article-welcome {
    min-height: auto;
    font-size: 16px;
  }
  .f-article h2 {
    font-size: 34px;
  }
  .f-article blockquote {
    padding: 30px 20px;
    background: #d9d9d9;
  }
  .f-article__block {
    margin-top: 20px;
    padding: 10px;
    background: #d9d9d9;
  }
  .f-article__block img {
    margin-bottom: 30px;
  }
  .f-article__block_alt {
    margin-top: 20px;
    padding: 10px;
    background: #1a1918;
  }
  .f-article__block_alt img {
    margin-top: 0;
  }
  .f-contacts-card:after {
    display: none !important;
  }
  .f-contacts-card__info {
    padding-top: 20px;
  }
  .f-view {
    width: 100%;
    min-height: auto;
    margin: 0;
    padding: 40px 0;
    background: transparent;
  }
  .f-view-card {
    display: none;
  }
  .f-view__text {
    margin: 0 auto 30px auto;
  }
  .f-view__text:after {
    display: none;
  }
  .f-view__link {
    margin-bottom: 0;
  }
  .f-switch {
    margin: 0;
  }
  .f-more__title {
    margin: 0 0 30px 0;
    font-size: 26px;
    line-height: 1.2;
  }
  .f-switch__header {
    padding: 30px 20px;
    background: #1a1918;
    clip-path: none;
  }
  .f-switch__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .f-switch__header li {
    padding: 10px 0;
  }
  .f-switch__content:before {
    display: none;
  }
  .f-switch__content {
    height: 400px;
  }
  .f-home-rent__link {
    margin: 0 15px;
  }
  .f-contacts-card__image {
    max-width: 270px;
    background-position: center center;
    background-size: cover;
  }
  .f-home-features {
    background: #d9d9d9;
  }
  .f-footer {
    margin: 0;
  }
}
